<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ischoolbar.programmer.dao.admin.DiaoyanDao">
	<!-- 根据报告名查找报告-->
	<select id="findByname" parameterType="String" resultType="Diaoyan">
		select * from diaoyan where name = #{name}
	</select>
	<!-- 添加调研报告-->
	<insert id="add" parameterType="Diaoyan">
		insert into diaoyan(name,people,beizhu,fujian) values(#{name},#{people},#{beizhu},#{fujian})
	</insert>
	<!-- 修改调研报告 -->
	<update id="edit" parameterType="Diaoyan">
		update diaoyan set name = #{name},people = #{people},beizhu = #{beizhu},fujian = #{fujian} where name = #{name}
	</update>
	
	<!-- 删除需求调研报告 -->
	<delete id="delete" parameterType="String">
		delete from diaoyan where name = #{name}
	</delete>
	
	<!-- 分页获取调研报告列表 -->
	<select id="findList" parameterType="Map" resultType="Diaoyan">
		select * from diaoyan where 1 = 1 
		<if test="name != null">
			and name like '%${name}%' 
		</if>
		<if test="people != null">
			and people = #{people}  
		</if>
		<if test="offset != null and pageSize != null">
			limit #{offset},#{pageSize}
		</if>
	</select>
	<!-- 获取符合结果的总记录数 -->
	<select id="getTotal" parameterType="Map" resultType="Integer">
		select count(*) from diaoyan where 1 = 1 
		<if test="name != null">
			and name like '%${name}%' 
		</if>
		<if test="people != null">
			and people = #{people}  
		</if>
	</select>
</mapper>