<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ischoolbar.programmer.dao.admin.MingxiDao">
	<!-- 根据时间查询基金收支明细-->
	<select id="findBytime" parameterType="String" resultType="Mingxi">
		select * from mingxi where time = #{time}
	</select>
	<!-- 添加基金收支明细-->
	<insert id="add" parameterType="Mingxi">
		insert into mingxi(time,leixing,jine,shuoming,people) values(#{time},#{leixing},#{jine},#{shuoming},#{people})
	</insert>
	<!-- 分页获取基金收支明细列表 -->
	<select id="findList" parameterType="Map" resultType="Mingxi">
		select * from mingxi where 1 = 1 
		<if test="time != null">
			and time = #{time}  
		</if>
		<if test="leixing != null">
			and leixing = #{leixing} 
		</if>
		<if test="people != null">
			and people = #{people}  
		</if>
		<if test="offset != null and pageSize != null">
			limit #{offset},#{pageSize}
		</if>
	</select>
	<!-- 获取符合结果的总记录数 -->
	<select id="getTotal" parameterType="Map" resultType="Integer">
		select count(*) from mingxi where 1 = 1 
		<if test="time != null">
			and time = #{time} 
		</if>
		<if test="leixing != null">
			and leixing = #{leixing} 
		</if>
		<if test="people != null">
			and people = #{people} 
		</if>
	</select>
</mapper>